#f1{
    background-color: black;
    color: aliceblue;
    padding: 50px;
    text-align: center;
}

#f2{
    background-color: bisque;
    color: rgb(1, 1, 1);
    padding: 20px;
    text-align: center;
}